section.botton-hero{
  width: 100%;
  margin: 0;
}

.botton-hero-img{
    height: 400px;
    width: 100%;
    background: url(../img/botton-hero-mobile.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px){
    .botton-hero-img{
    height: 620px;
    width: 100%;
    background: url(../img/botton-hero-tablet.jpg) no-repeat;
    background-size: cover;
    }

}

@media screen and (min-width: 1024px){
    .botton-hero-img{
    height: 620px;
    width: 100%;
    background: url(../img/botton-hero-tablet.jpg) no-repeat;
    background-size: cover;
    margin-top: 88px;
    }
}

@media screen and (min-width: 1440px){
    .botton-hero-img{
    height: 620px;
    width: 100%;
    background: url(../img/botton-hero-desktop.jpg) no-repeat;
    background-size: cover;
    margin-top: 104px;
    }
}
