
:root{
    --background-primary-color: #fff;
    --background-secondary-color:#F5F5F5;
    --backgrond-tertiary-color:#000000;

    --button-primary-color:#8F0101;
    --button-secudary-color:#B81515;
    
    --text-primary-color:#222222;
    --text-secudary-colo:#FFFFFF;

}

/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura/altura do elemento */
}
